# Integer to Roman Numerals

Now let's try the following [leetcode problem]([Leetcode](https://leetcode.com/problems/integer-to-roman/)).

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

```
Symbol       Value

I             1
V             5
X             10
L             50
C             100
D             500
M             1000
```

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

* I can be placed before V (5) and X (10) to make 4 and 9. 
* X can be placed before L (50) and C (100) to make 40 and 90. 
* C can be placed before D (500) and M (1000) to make 400 and 900.

Given an integer, convert it to a roman numeral.

### Examples

Ok, so our chart above of roman numeral to number looks like a dictionary.  Let's convert it to one.

In [15]:
numbers = [1, 5, 10, 50, 100, 500, 1000]
numerals = ["I", "V", "X", "L", "C", "D", "M"]

number_numeral = dict(zip(numbers, numerals))
number_numeral

{1: 'I', 5: 'V', 10: 'X', 50: 'L', 100: 'C', 500: 'D', 1000: 'M'}

* Eg 1

In [3]:
num = 3
output = "III"

Ok, so now let's see if we can use our constructed dictionary to get the first example to pass.

I like removing the output so I can let my brain solve the problem, and see what steps it is taking.

In [16]:
# number_numeral = {1: 'I', 5: 'V', 10: 'X', 50: 'L', 100: 'C', 500: 'D', 1000: 'M'}
num = 3

It seems like it is once again a greedy approach.  So the first step is to use the largest numeral that is still less than our number, and subtract from our value.  And then repeat.

Because we need to go from largest to smallest, it seems like perhaps we should be using a list.

In [41]:
numbers = [1000, 500, 100, 50, 10, 5, 1]
numerals = ["M", "D", "C", "L", "X", "V", "I"]

In [42]:
current_num = 3
idcs = []
while current_num > 0:
    for idx, number in enumerate(numbers):
        if number <= current_num:
            idcs.append(idx)
            current_num = current_num - number

In [43]:
idcs

[6, 6, 6]

Ok, so now we can just turn the index into the numeral, by changing our code to use the index to select it from the list above.

In [44]:
current_num = 3
idcs = []
while current_num > 0:
    for idx, number in enumerate(numbers):
        if number <= current_num:
            idcs.append(numerals[idx])
            current_num = current_num - number
idcs

['I', 'I', 'I']

In [45]:
''.join(idcs)

'III'

Ok, that wasn't so bad.

* Eg 2

Let's see if this works on the second number.

In [46]:
num = 58
output = "LVIII"

Again we can remove the answer to make sure that our logic still holds.

In [47]:
num = 58

In [48]:
# Go from highest to lowest denomination, subtracting each time

And we can even break our above code into a couple of functions.

In [49]:
def num_to_numerals(current_num):
    numerals = []
    while current_num > 0:
        numeral, current_num = subtract_from(current_num)
        numerals.append(numeral)
    return ''.join(numerals)
    
def subtract_from(current_num):
    for idx, number in enumerate(numbers):
            if number <= current_num:
                current_num = current_num - number
                return numerals[idx], current_num

In [50]:
current_num = 58
num_to_numerals(current_num)

'LVIII'

Nice.

* Eg 3

Ok, so this next example will involve a tweak.  Essentially, we'll also have to use the subtraction method.  Let's take another look at the instructions.

* The number four is written as IV. 
* The number nine, which is written as IX. 
* I can be placed before V (5) and X (10) to make 4 and 9. 
* X can be placed before L (50) and C (100) to make 40 and 90. 
* C can be placed before D (500) and M (1000) to make 400 and 900.

There are a couple approaches for this.

### The quick fix

The quickest fix, and then one we should go for is the easiest one.  Let's just update our list of numbers and numerals to the following.

In [1]:
numbers = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
numerals = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]

In [2]:
def num_to_numerals(current_num):
    numerals = []
    while current_num > 0:
        numeral, current_num = subtract_from(current_num)
        numerals.append(numeral)
    return ''.join(numerals)
    
def subtract_from(current_num):
    for idx, number in enumerate(numbers):
            if number <= current_num:
                current_num = current_num - number
                return numerals[idx], current_num
            
num_to_numerals(1994)

'MCMXCIV'

### The long winding road

> This is going to hurt.

Ok, my second thought is that maybe there is a pattern/general rule.  For example, the special circumstances seem to apply in a sort of pattern.

In [ ]:
# if 4, 9, 40, 90, 400 or 900 
# then find

It seems like if, in trying to subtract our numerals, we get -1, -10, or -100 as a remaining value (our difference) then we want to append roman numeral equivalent of this difference, and then just keep going with our procedure.

Really, we append the roman numeral equivalent, and add that remainder, and keep going.

For example.

In [56]:
current_num = 9 # output = "IX" 
diff = 9 - 10 # -1
# if diff == -1: 
    # return "I", keep going with current_num -> 9 + 1 = 10

Let's update our subtract from function.

In [71]:
numbers = [1000, 500, 100, 50, 10, 5, 1]

In [79]:
def subtract_from(current_num):
    for idx, number in enumerate(numbers):
            diff = current_num - number
            if diff == -1:
                return 'I', current_num + 1
            if number <= current_num:
                current_num = current_num - number
                return numerals[idx], current_num

subtract_from(4)

('I', 5)

So we return an 'I' to append to the list, and we changed our current number to `1 + 4 = 5` to now continue on with that.

In [80]:
def num_to_numerals(current_num):
    numerals = []
    while current_num > 0:
        numeral, current_num = subtract_from(current_num)
        numerals.append(numeral)
    return ''.join(numerals)

In [81]:
num_to_numerals(9) # 'IX'
num_to_numerals(4) # 'IV'

'IV'

Ok, nice.  So now we want to update our function to accomodate for the scenarios of a difference of 1, 10, or 100.

In [99]:
def subtract_from(current_num):
    num_to_numeral = {1: 'I', 10: 'X', 100: 'C'}
    for idx, number in enumerate(numbers):
            diff = current_num - number
            if diff in [-1, -10, -100]:
                abs_diff = abs(diff)
                return num_to_numeral[abs_diff], current_num + abs_diff
            if number <= current_num:
                current_num = current_num - number
                return numerals[idx], current_num

In [100]:
subtract_from(9) # ('I', 10)
subtract_from(4) # ('I', 5)
subtract_from(40) # ('X', 50)
subtract_from(90) # ('X', 100)
subtract_from(900) # ('C', 1000)
subtract_from(400) # ('C', 500)

('C', 500)

Ok, looks great.

Let's try it all together.

In [101]:
def num_to_numerals(current_num):
    numerals = []
    while current_num > 0:
        numeral, current_num = subtract_from(current_num)
        numerals.append(numeral)
    return ''.join(numerals)

In [105]:
num_to_numerals(1994)

'MDCCCCLXXXXIV'

Ugh.

Ok, the first step is to identify the bug.  Let's see what the issue is.  For example, can it calculate 90?

In [106]:
num_to_numerals(90)

'XC'

That looks good.  What about 94.

In [107]:
num_to_numerals(94)

'LXXXXIV'

So it seems like we are only properly subtracting when we are down to the last set of digits.  Let's take another look at our code, and give ourselves that 94 example again.

In [109]:
num = 94 
# desired_output = XC

The problem is that we want to break our number of 94 into something like the following.

In [162]:
[90, 4]

[90, 4]

Where the first digit represents the 10s, and the second element equals the number of 1s.  And then we can apply our logic to each digit.

It's not a bad approach, but it seems pretty complicated.

> For example, here's how we could do it.

In [146]:
num = 94
nums = list(str(num))
# evolving our code to get to the right format...
[((len(nums) - idx - 1), int(num)) for idx, num in enumerate(nums)] # [(1, 9), (0, 4)]

[(10**(len(nums) - idx - 1), int(num)) for idx, num in enumerate(nums)] # [(10, 9), (1, 4)]

nums_by_ten = [(10**(len(nums) - idx - 1)*int(num)) for idx, num in enumerate(nums)]
nums_by_ten

[90, 4]

And let's see if our `subtract_from` function can handle these one at a time.

In [147]:
subtract_from(90)

('X', 100)

Ok, so basically we'll have to loop through our list of numbers, but when we use the "subtraction" method, we'll need to prepend to the `nums_by_ten` list.

In [186]:
def subtract_from(current_num, by_ten_idx, nums_by_ten):
    num_to_numeral = {1: 'I', 10: 'X', 100: 'C'}
    for idx, number in enumerate(numbers):
            diff = current_num - number
            if diff in [-1, -10, -100]:
                abs_diff = abs(diff)
                new_num = current_num + abs_diff
                print(new_num)
                nums_by_ten[by_ten_idx] = new_num
                return num_to_numeral[abs_diff]
            if number <= current_num:
                current_num = current_num - number
                nums_by_ten.pop(0)
                return numerals[idx]

In [189]:
numbers = [1000, 500, 100, 50, 10, 5, 1]
numerals = ["M", "D", "C", "L", "X", "V", "I"]

translated_numerals = []
nums_by_ten = [90, 4]
while nums_by_ten:
    print(nums_by_ten)
    for by_ten_idx, num_by_ten in enumerate(nums_by_ten):
        translated_numeral = subtract_from(num_by_ten, by_ten_idx, nums_by_ten)
        translated_numerals.append(translated_numeral)
        print(translated_numerals)
        break
''.join(translated_numerals)

[90, 4]
100
['X']
[100, 4]
['X', 'C']
[4]
5
['X', 'C', 'I']
[5]
['X', 'C', 'I', 'V']

'XCIV'

Ok, looks pretty good.  Let's turn wrap this in functions and try with the example given in the problem: 1994.

In [7]:
numbers = [1000, 500, 100, 50, 10, 5, 1]
numerals = ["M", "D", "C", "L", "X", "V", "I"]

def numbers_by_ten(number):
    nums = list(str(number))
    return [(10**(len(nums) - idx - 1)*int(num)) for idx, num in enumerate(nums)]

# numbers_by_ten(1994) # [1000, 900, 90, 4]

In [8]:
def subtract_from(current_num, by_ten_idx, nums_by_ten):
    num_to_numeral = {1: 'I', 10: 'X', 100: 'C'}
    for idx, number in enumerate(numbers):
            diff = current_num - number
            if diff in [-1, -10, -100]:
                abs_diff = abs(diff)
                new_num = current_num + abs_diff
                nums_by_ten[by_ten_idx] = new_num
                return num_to_numeral[abs_diff]
            if number <= current_num:
                current_num = current_num - number
                if current_num > 0:
                  nums_by_ten[by_ten_idx] = current_num
                  return numerals[idx]
                else:
                  nums_by_ten.pop(0)
                  return numerals[idx]

In [9]:
def translate_to_numerals(number):
    translated_numerals = []
    nums_by_ten = numbers_by_ten(number)
    while nums_by_ten:
        for by_ten_idx, num_by_ten in enumerate(nums_by_ten):
            translated_numeral = subtract_from(num_by_ten, by_ten_idx, nums_by_ten)
            translated_numerals.append(translated_numeral)
            break
    return ''.join(translated_numerals)

In [11]:
translate_to_numerals(1994)

'MCMXCIV'

In [12]:
translate_to_numerals(1984)

'MCMLXXXIV'

Wow, crazy.

### Resources

[Leetcode](https://leetcode.com/problems/integer-to-roman/)